# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Expo extra
.expo-shared/

# Metro caches / sourcemaps
.metro-cache/
*.map

# Windows / IDE
Thumbs.db
.vscode/
.idea/
*.iml

# ---------------------------------------
# ✅ ENV FILES (Secret Key Protection)
# ---------------------------------------
# 모든 .env 파일 무시 (비밀번호 노출 방지)
.env
.env.*

# 단, 예시 파일은 업로드 허용 (협업용)
!.env.example